flows_AsyncBackend.json
[{"id":"9512ca32.6a31a8","type":"tab","label":"TestBackendAsynchronous","disabled":false,"info":""},{"id":"77ae7529.dc45cc","type":"tab","label":"BackendAsynchronousFlow","disabled":false,"info":""},{"id":"165f0dab.5d0512","type":"tab","label":"okServiceFlow","disabled":false,"info":""},{"id":"d1b293e8.301ea","type":"tab","label":"CoreDummyFlow","disabled":false,"info":""},{"id":"bcd3e920.ea1028","type":"subflow","name":"processDataSubFlow","info":"","category":"","in":[{"x":40,"y":80,"wires":[{"id":"1334d16.768952f"}]}],"out":[{"x":720,"y":320,"wires":[{"id":"4a3e9731.b2d0f8","port":0}]}],"env":[]},{"id":"683616d2.bf0288","type":"websocket-listener","path":"/ws/chat","wholemsg":"false"},{"id":"dfff15ed.2cedf8","type":"http proxy","z":"","name":"proxy","url":"http://10.73.78.4:3128","noproxy":[]},{"id":"8f02adcc.483f2","type":"http in","z":"77ae7529.dc45cc","name":"","url":"simulation","method":"post","upload":false,"swaggerDoc":"","x":160,"y":120,"wires":[["40018681.c58998","990773ce.c024d"]]},{"id":"40018681.c58998","type":"function","z":"77ae7529.dc45cc","name":"validateRequest","func":"let responseURL = msg.payload.responseUrl;\n\nif (!responseURL) {\n    node.error(\"Response URL not found.\", msg)\n}\n\nlet resp = {\"res\": msg.res};\n\nreturn [resp, msg];","outputs":2,"noerr":0,"x":400,"y":120,"wires":[["fc699b44.ca26c8"],["e428a53e.9856a8"]]},{"id":"fc699b44.ca26c8","type":"http response","z":"77ae7529.dc45cc","name":"responseSimulation","statusCode":"200","headers":{},"x":690,"y":120,"wires":[]},{"id":"1334d16.768952f","type":"function","z":"bcd3e920.ea1028","name":"reciveData","func":"\nreturn msg;","outputs":1,"noerr":0,"x":190,"y":80,"wires":[["10dada77.aa9036"]]},{"id":"10dada77.aa9036","type":"function","z":"bcd3e920.ea1028","name":"transform","func":"\nreturn msg;","outputs":1,"noerr":0,"x":260,"y":140,"wires":[["c4ccadc.c07735"]]},{"id":"c4ccadc.c07735","type":"function","z":"bcd3e920.ea1028","name":"validate","func":"\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":200,"wires":[["4d545974.ba3848"]]},{"id":"4d545974.ba3848","type":"http request","z":"bcd3e920.ea1028","name":"callCoreDammyFlow","method":"POST","ret":"obj","paytoqs":false,"url":"localhost:1880/coreDammyFlow","tls":"","proxy":"","authType":"basic","x":440,"y":260,"wires":[["4a3e9731.b2d0f8"]]},{"id":"e428a53e.9856a8","type":"subflow:bcd3e920.ea1028","z":"77ae7529.dc45cc","name":"","env":[],"x":170,"y":220,"wires":[["52c2ac77.af3b64","84a2e58a.80f6d8"]]},{"id":"c30189e4.5eb7b8","type":"http request","z":"77ae7529.dc45cc","name":"responseToClient","method":"POST","ret":"obj","paytoqs":false,"url":"","tls":"","proxy":"","authType":"basic","x":650,"y":220,"wires":[["2913613d.fc771e"]]},{"id":"52c2ac77.af3b64","type":"function","z":"77ae7529.dc45cc","name":"outputValidation","func":"msg.url = msg.payload.responseUrl;\n\nif (!msg.url) {\n    node.error(\"Response URL not Found\", msg);\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":220,"wires":[["c30189e4.5eb7b8"]]},{"id":"4a3e9731.b2d0f8","type":"function","z":"bcd3e920.ea1028","name":"response","func":"\nreturn msg;","outputs":1,"noerr":0,"x":540,"y":320,"wires":[[]]},{"id":"2913613d.fc771e","type":"debug","z":"77ae7529.dc45cc","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":830,"y":180,"wires":[]},{"id":"de136443.e8ced8","type":"http in","z":"165f0dab.5d0512","name":"","url":"/ok","method":"post","upload":false,"swaggerDoc":"","x":210,"y":120,"wires":[["75c6dc23.3ee6e4","69b42a28.f9deb4"]]},{"id":"75c6dc23.3ee6e4","type":"debug","z":"165f0dab.5d0512","name":"okEndpointResponse","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"true","targetType":"full","x":400,"y":80,"wires":[]},{"id":"1194847a.ef85cc","type":"http request","z":"9512ca32.6a31a8","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"localhost:1880/simulation","tls":"","proxy":"","authType":"basic","x":290,"y":80,"wires":[["bf9df4e2.9e3088"]]},{"id":"bf9df4e2.9e3088","type":"debug","z":"9512ca32.6a31a8","name":"callSimulationResponse","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":510,"y":80,"wires":[]},{"id":"f74c2a04.9e16e8","type":"inject","z":"9512ca32.6a31a8","name":"","topic":"","payload":"{\"responseUrl\":\"http://localhost:1880/ok\",\"payload\":{}}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":80,"wires":[["1194847a.ef85cc"]]},{"id":"69b42a28.f9deb4","type":"http response","z":"165f0dab.5d0512","name":"","statusCode":"","headers":{},"x":370,"y":120,"wires":[]},{"id":"a4ef97b1.e841c8","type":"catch","z":"77ae7529.dc45cc","name":"responseURLNotFound","scope":["c30189e4.5eb7b8","40018681.c58998"],"uncaught":false,"x":160,"y":340,"wires":[["97d9ba12.5538b8"]]},{"id":"7d2d6dd5.39b794","type":"http in","z":"d1b293e8.301ea","name":"","url":"/coreDammyFlow","method":"post","upload":false,"swaggerDoc":"","x":170,"y":180,"wires":[["cff3e7f9.f21c68"]]},{"id":"9f7c6fd6.27108","type":"http response","z":"d1b293e8.301ea","name":"","statusCode":"","headers":{},"x":570,"y":180,"wires":[]},{"id":"84a2e58a.80f6d8","type":"debug","z":"77ae7529.dc45cc","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":300,"y":180,"wires":[]},{"id":"990773ce.c024d","type":"debug","z":"77ae7529.dc45cc","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":630,"y":60,"wires":[]},{"id":"e34ebf1c.ad124","type":"http response","z":"77ae7529.dc45cc","name":"","statusCode":"400","headers":{},"x":520,"y":340,"wires":[]},{"id":"97d9ba12.5538b8","type":"function","z":"77ae7529.dc45cc","name":"","func":"msg.payload = msg.error.message;\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":340,"wires":[["e34ebf1c.ad124"]]},{"id":"cff3e7f9.f21c68","type":"delay","z":"d1b293e8.301ea","name":"","pauseType":"delay","timeout":"10","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":380,"y":180,"wires":[["9f7c6fd6.27108"]]}]