flows_AsyncBackend.json
[{"id":"ac011485.8518e8","type":"tab","label":"ChatWithLogin","disabled":false,"info":""},{"id":"165f0dab.5d0512","type":"tab","label":"okServiceFlow","disabled":false,"info":""},{"id":"77ae7529.dc45cc","type":"tab","label":"BackendAsynchronousFlow","disabled":false,"info":""},{"id":"9512ca32.6a31a8","type":"tab","label":"TestBackendAsynchronous","disabled":false,"info":""},{"id":"d1b293e8.301ea","type":"tab","label":"CoreDummyFlow","disabled":false,"info":""},{"id":"bcd3e920.ea1028","type":"subflow","name":"processData","info":"","category":"","in":[{"x":40,"y":80,"wires":[{"id":"1334d16.768952f"}]}],"out":[{"x":640,"y":320,"wires":[{"id":"4a3e9731.b2d0f8","port":0}]}],"env":[]},{"id":"683616d2.bf0288","type":"websocket-listener","path":"/ws/chat","wholemsg":"false"},{"id":"dfff15ed.2cedf8","type":"http proxy","z":"","name":"proxy","url":"http://10.73.78.4:3128","noproxy":[]},{"id":"2982d7fd.8fce08","type":"websocket in","z":"ac011485.8518e8","name":"","server":"683616d2.bf0288","client":"","x":210,"y":80,"wires":[["2b83087.16eabf8"]]},{"id":"2b83087.16eabf8","type":"function","z":"ac011485.8518e8","name":"wsChatFunc","func":"node.log(msg)\ndelete msg._session;\nreturn msg;\n\n","outputs":1,"noerr":0,"x":404,"y":80,"wires":[["3986f426.3e868c"]]},{"id":"3986f426.3e868c","type":"websocket out","z":"ac011485.8518e8","name":"","server":"683616d2.bf0288","x":565,"y":80,"wires":[]},{"id":"a93d0fc0.c9cac","type":"template","z":"ac011485.8518e8","name":"chat","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"<head>\n  <meta name=\"viewport\" content=\"width=320, initial-scale=1\">\n  <title>Chat</title>\n</head>\n\n<body>\n  <div id=\"wrapper\">\n    <div id=\"chat_box\" class=\"content\"></div>\n\n    <div id=\"footer\">\n      <div class=\"content\">\n        <input type=\"text\" id=\"user\" placeholder=\"Who are you?\" value=\"{{payload.login}}\" />\n        <input type=\"text\" id=\"message\" placeholder=\"What do you want to say?\" />\n        <input type=\"button\" id=\"send_btn\" value=\"Send\" onclick=\"sendMessage()\">\n      </div>\n    </div>\n  </div>\n</body>\n\n<script type=\"text/javascript\">\n  var wsUri = \"ws://{{req.headers.host}}/ws/chat\";\n  var ws = new WebSocket(wsUri);\n\n  function createSystemMessage(message) {\n      console.log(\"{{req.headers.host}}\");\n      console.log(\"{{msg.payload}}\");\n    var message = document.createTextNode(message);\n\n    var messageBox = document.createElement('p');\n    messageBox.className = 'system';\n\n    messageBox.appendChild(message);\n\n    var chat = document.getElementById('chat_box');\n    chat.appendChild(messageBox);\n  }\n\n  function createUserMessage(user, message) {\n    var user = document.createTextNode(user + ': ');\n\n    var userBox = document.createElement('span');\n    userBox.className = 'username';\n    userBox.appendChild(user);\n\n    var message = document.createTextNode(message);\n\n    var messageBox = document.createElement('p');\n    messageBox.appendChild(userBox);\n    messageBox.appendChild(message);\n\n    var chat = document.getElementById('chat_box');\n    chat.appendChild(messageBox);\n  }\n\n  ws.onopen = function(ev) {\n    createSystemMessage('[Connected]');\n  };\n\n  ws.onclose = function(ev) {\n    createSystemMessage('[Disconnected]');\n  }\n\n  ws.onmessage = function(ev) {\n    var payload = JSON.parse(ev.data);\n    createUserMessage(payload.user, payload.message);\n\n    var chat = document.getElementById('chat_box');\n    chat.scrollTop = chat.scrollHeight;\n  }\n\n  function sendMessage() {\n    var user = document.getElementById('user');\n    var message = document.getElementById('message');\n\n    var payload = {\n      message: message.value,\n      user: user.value,\n      ts: (new Date()).getTime()\n    };\n\n    ws.send(JSON.stringify(payload));\n    message.value = \"\";\n  };\n</script>\n\n<style type=\"text/css\">\n  * {\n    font-family: \"Palatino Linotype\", \"Book Antiqua\", Palatino, serif;\n    font-style: italic;\n    font-size: 24px;\n  }\n\n  html, body, #wrapper {\n    margin: 0;\n    padding: 0;\n    height: 100%;\n  }\n\n  #wrapper {\n    background-color: #ecf0f1;\n  }\n\n  #chat_box {\n    box-sizing: border-box;\n    height: 100%;\n    overflow: auto;\n    padding-bottom: 50px;\n  }\n\n  #footer {\n    box-sizing: border-box;\n    position: fixed;\n    bottom: 0;\n    height: 50px;\n    width: 100%;\n    background-color: #2980b9;\n  }\n\n  #footer .content {\n    padding-top: 4px;\n    position: relative;\n  }\n\n  #user { width: 20%; }\n  #message { width: 68%; }\n  #send_btn {\n    width: 10%;\n    position: absolute;\n    right: 0;\n    bottom: 0;\n    margin: 0;\n  }\n\n  .content {\n    width: 70%;\n    margin: 0 auto;\n  }\n\n  input[type=\"text\"],\n  input[type=\"button\"] {\n    border: 0;\n    color: #fff;\n  }\n\n  input[type=\"text\"] {\n    background-color: #146EA8;\n    padding: 3px 10px;\n  }\n\n  input[type=\"button\"] {\n    background-color: #f39c12;\n    border-right: 2px solid #e67e22;\n    border-bottom: 2px solid #e67e22;\n    min-width: 70px;\n    display: inline-block;\n  }\n\n  input[type=\"button\"]:hover {\n    background-color: #e67e22;\n    border-right: 2px solid #f39c12;\n    border-bottom: 2px solid #f39c12;\n    cursor: pointer;\n  }\n\n  .system,\n  .username {\n    color: #aaa;\n    font-style: italic;\n    font-family: monospace;\n    font-size: 16px;\n  }\n\n  @media(max-width: 1000px) {\n    .content { width: 90%; }\n  }\n\n  @media(max-width: 780px) {\n    #footer { height: 91px; }\n    #chat_box { padding-bottom: 91px; }\n\n    #user { width: 100%; }\n    #message { width: 80%; }\n  }\n\n  @media(max-width: 400px) {\n    #footer { height: 135px; }\n    #chat_box { padding-bottom: 135px; }\n\n    #message { width: 100%; }\n    #send_btn {\n      position: relative;\n      margin-top: 3px;\n      width: 100%;\n    }\n  }\n</style>\n","x":430,"y":320,"wires":[["8b0630a5.e717d"]]},{"id":"8b0630a5.e717d","type":"http response","z":"ac011485.8518e8","name":"","statusCode":"","headers":{},"x":570,"y":320,"wires":[]},{"id":"695b2aec.7391e4","type":"http in","z":"ac011485.8518e8","name":"","url":"/login","method":"post","upload":false,"swaggerDoc":"","x":210,"y":160,"wires":[["82202e7b.c447a"]]},{"id":"a9d804c4.21afe8","type":"function","z":"ac011485.8518e8","name":"findUser","func":"let user = msg.user;\nlet users = msg.payload;\n\nfunction userFind (data) {\n   return data.login == user.email && data.password == user.password;\n}\n\nif (users.find(userFind)) {\n  msg.payload = {\"login\" : user.email};\n  return msg;\n} else {\n    msg.payload = {errMsg : \"User not found.\"};\n    node.error(\"User not found.\", msg);   \n}","outputs":1,"noerr":0,"x":380,"y":280,"wires":[["a93d0fc0.c9cac"]]},{"id":"82202e7b.c447a","type":"function","z":"ac011485.8518e8","name":"login","func":"msg.user = msg.payload;\n\nmsg.headers = {};\nmsg.headers['x-apikey'] = 'd5fc857ae280dfeb9da0daef1dc4f54dc2ce6';\nmsg.headers['cache-control'] = 'no-cache';\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":200,"wires":[["f6c6bca8.a278e"]]},{"id":"f6c6bca8.a278e","type":"http request","z":"ac011485.8518e8","name":"users","method":"GET","ret":"obj","paytoqs":false,"url":"https://webscraping-ab70.restdb.io/rest/users-logins","tls":"","proxy":"dfff15ed.2cedf8","authType":"bearer","x":330,"y":240,"wires":[["a9d804c4.21afe8"]]},{"id":"f9e08bda.039f88","type":"http in","z":"ac011485.8518e8","name":"","url":"/login","method":"get","upload":false,"swaggerDoc":"","x":200,"y":360,"wires":[["a5500d80.d5a65"]]},{"id":"a5500d80.d5a65","type":"template","z":"ac011485.8518e8","name":"loginPage","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<link href='https://fonts.googleapis.com/css?family=Open+Sans:700,600' rel='stylesheet' type='text/css'>\n\n<form id=\"form\" method=\"post\" action=\"/login\">\n<div class=\"box\">\n<h1>LOGIN</h1>\n\n<input type=\"email\" name=\"email\" value=\"paqui\" onFocus=\"field_focus(this, 'email');\" onblur=\"field_blur(this, 'email');\" class=\"email\" />\n  \n<input type=\"password\" name=\"password\" value=\"123456\" onFocus=\"field_focus(this, 'email');\" onblur=\"field_blur(this, 'email');\" class=\"email\" />\n  \n<a href=\"#\"><div class=\"btn\">Sign In</div></a> <!-- End Btn -->\n\n<a href=\"#\"><div id=\"btn2\">Sign Up</div></a> <!-- End Btn2 -->\n  \n</div> <!-- End Box -->\n  \n</form>\n\n<p>{{payload.errMsg}}</p>\n\n<p>Forgot your password? <u style=\"color:#f1c40f;\">Click Here!</u></p>\n  \n<script src=\"//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js\" type=\"text/javascript\"></script>\n\n<script type=\"text/javascript\">\nfunction field_focus(field, email)\n  {\n    if(field.value == email)\n    {\n      field.value = '';\n    }\n  }\n\n  function field_blur(field, email)\n  {\n    if(field.value == '')\n    {\n      field.value = email;\n    }\n  }\n\n//Fade in dashboard box\n$(document).ready(function(){\n    $('.box').hide().fadeIn(1000);\n    });\n\n//Stop click event\n$('a').click(function(event){\n    $( \"#form\" ).submit();\n    event.preventDefault(); \n\t});\n</script>\n\n\n\n<style type=\"text/css\">\n    body{\n  font-family: 'Open Sans', sans-serif;\n  background:#3498db;\n  margin: 0 auto 0 auto;  \n  width:100%; \n  text-align:center;\n  margin: 20px 0px 20px 0px;   \n}\n\np{\n  font-size:12px;\n  text-decoration: none;\n  color:#ffffff;\n}\n\nh1{\n  font-size:1.5em;\n  color:#525252;\n}\n\n.box{\n  background:white;\n  width:300px;\n  border-radius:6px;\n  margin: 0 auto 0 auto;\n  padding:0px 0px 70px 0px;\n  border: #2980b9 4px solid; \n}\n\n.email{\n  background:#ecf0f1;\n  border: #ccc 1px solid;\n  border-bottom: #ccc 2px solid;\n  padding: 8px;\n  width:250px;\n  color:#AAAAAA;\n  margin-top:10px;\n  font-size:1em;\n  border-radius:4px;\n}\n\n.password{\n  border-radius:4px;\n  background:#ecf0f1;\n  border: #ccc 1px solid;\n  padding: 8px;\n  width:250px;\n  font-size:1em;\n}\n\n.btn{\n  background:#2ecc71;\n  width:125px;\n  padding-top:5px;\n  padding-bottom:5px;\n  color:white;\n  border-radius:4px;\n  border: #27ae60 1px solid;\n  \n  margin-top:20px;\n  margin-bottom:20px;\n  float:left;\n  margin-left:16px;\n  font-weight:800;\n  font-size:0.8em;\n}\n\n.btn:hover{\n  background:#2CC06B; \n}\n\n#btn2{\n  float:left;\n  background:#3498db;\n  width:125px;  padding-top:5px;\n  padding-bottom:5px;\n  color:white;\n  border-radius:4px;\n  border: #2980b9 1px solid;\n  \n  margin-top:20px;\n  margin-bottom:20px;\n  margin-left:10px;\n  font-weight:800;\n  font-size:0.8em;\n}\n\n#btn2:hover{ \nbackground:#3594D2; \n}\n</style>","output":"str","x":480,"y":400,"wires":[["b005a514.00f1a8"]]},{"id":"b005a514.00f1a8","type":"http response","z":"ac011485.8518e8","name":"","statusCode":"","headers":{},"x":630,"y":400,"wires":[]},{"id":"874f1dcc.440af","type":"catch","z":"ac011485.8518e8","name":"catchUserNotFoundException","scope":["a9d804c4.21afe8"],"uncaught":false,"x":260,"y":440,"wires":[["a5500d80.d5a65"]]},{"id":"8f02adcc.483f2","type":"http in","z":"77ae7529.dc45cc","name":"","url":"simulation","method":"post","upload":false,"swaggerDoc":"","x":160,"y":120,"wires":[["40018681.c58998","990773ce.c024d"]]},{"id":"40018681.c58998","type":"function","z":"77ae7529.dc45cc","name":"validateRequest","func":"let responseURL = msg.payload.responseUrl;\n\nif (!responseURL) {\n    node.error(\"Response URL not found.\", msg)\n}\n\nlet resp = {\"res\": msg.res};\n\nreturn [resp, msg];","outputs":2,"noerr":0,"x":400,"y":120,"wires":[["fc699b44.ca26c8"],["e428a53e.9856a8"]]},{"id":"fc699b44.ca26c8","type":"http response","z":"77ae7529.dc45cc","name":"responseSimulation","statusCode":"200","headers":{},"x":690,"y":120,"wires":[]},{"id":"1334d16.768952f","type":"function","z":"bcd3e920.ea1028","name":"reciveData","func":"\nreturn msg;","outputs":1,"noerr":0,"x":190,"y":80,"wires":[["10dada77.aa9036"]]},{"id":"10dada77.aa9036","type":"function","z":"bcd3e920.ea1028","name":"transform","func":"\nreturn msg;","outputs":1,"noerr":0,"x":260,"y":140,"wires":[["c4ccadc.c07735"]]},{"id":"c4ccadc.c07735","type":"function","z":"bcd3e920.ea1028","name":"validate","func":"\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":200,"wires":[["4d545974.ba3848"]]},{"id":"4d545974.ba3848","type":"http request","z":"bcd3e920.ea1028","name":"callCoreDammyFlow","method":"POST","ret":"obj","paytoqs":false,"url":"localhost:1880/coreDammyFlow","tls":"","proxy":"","authType":"basic","x":440,"y":260,"wires":[["4a3e9731.b2d0f8"]]},{"id":"e428a53e.9856a8","type":"subflow:bcd3e920.ea1028","z":"77ae7529.dc45cc","name":"","env":[],"x":170,"y":220,"wires":[["52c2ac77.af3b64","84a2e58a.80f6d8"]]},{"id":"c30189e4.5eb7b8","type":"http request","z":"77ae7529.dc45cc","name":"responseToClient","method":"POST","ret":"obj","paytoqs":false,"url":"","tls":"","proxy":"","authType":"basic","x":650,"y":220,"wires":[["2913613d.fc771e"]]},{"id":"52c2ac77.af3b64","type":"function","z":"77ae7529.dc45cc","name":"outputValidation","func":"msg.url = msg.payload.responseUrl;\n\nif (!msg.url) {\n    node.error(\"Response URL not Found\", msg);\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":220,"wires":[["c30189e4.5eb7b8"]]},{"id":"4a3e9731.b2d0f8","type":"function","z":"bcd3e920.ea1028","name":"response","func":"\nreturn msg;","outputs":1,"noerr":0,"x":460,"y":320,"wires":[[]]},{"id":"2913613d.fc771e","type":"debug","z":"77ae7529.dc45cc","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":830,"y":180,"wires":[]},{"id":"de136443.e8ced8","type":"http in","z":"165f0dab.5d0512","name":"","url":"/ok","method":"post","upload":false,"swaggerDoc":"","x":210,"y":120,"wires":[["75c6dc23.3ee6e4","69b42a28.f9deb4"]]},{"id":"75c6dc23.3ee6e4","type":"debug","z":"165f0dab.5d0512","name":"okEndpointResponse","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"true","targetType":"full","x":400,"y":80,"wires":[]},{"id":"1194847a.ef85cc","type":"http request","z":"9512ca32.6a31a8","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"localhost:1880/simulation","tls":"","proxy":"","authType":"basic","x":290,"y":80,"wires":[["bf9df4e2.9e3088"]]},{"id":"bf9df4e2.9e3088","type":"debug","z":"9512ca32.6a31a8","name":"callSimulationResponse","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":510,"y":80,"wires":[]},{"id":"f74c2a04.9e16e8","type":"inject","z":"9512ca32.6a31a8","name":"","topic":"","payload":"{\"responseUrl\":\"http://localhost:1880/ok\",\"payload\":{}}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":80,"wires":[["1194847a.ef85cc"]]},{"id":"69b42a28.f9deb4","type":"http response","z":"165f0dab.5d0512","name":"","statusCode":"","headers":{},"x":370,"y":120,"wires":[]},{"id":"a4ef97b1.e841c8","type":"catch","z":"77ae7529.dc45cc","name":"responseURLNotFound","scope":["c30189e4.5eb7b8","40018681.c58998"],"uncaught":false,"x":160,"y":340,"wires":[["97d9ba12.5538b8"]]},{"id":"7d2d6dd5.39b794","type":"http in","z":"d1b293e8.301ea","name":"","url":"/coreDammyFlow","method":"post","upload":false,"swaggerDoc":"","x":170,"y":180,"wires":[["cff3e7f9.f21c68"]]},{"id":"9f7c6fd6.27108","type":"http response","z":"d1b293e8.301ea","name":"","statusCode":"","headers":{},"x":570,"y":180,"wires":[]},{"id":"84a2e58a.80f6d8","type":"debug","z":"77ae7529.dc45cc","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":300,"y":180,"wires":[]},{"id":"990773ce.c024d","type":"debug","z":"77ae7529.dc45cc","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":630,"y":60,"wires":[]},{"id":"e34ebf1c.ad124","type":"http response","z":"77ae7529.dc45cc","name":"","statusCode":"400","headers":{},"x":520,"y":340,"wires":[]},{"id":"97d9ba12.5538b8","type":"function","z":"77ae7529.dc45cc","name":"","func":"msg.payload = msg.error.message;\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":340,"wires":[["e34ebf1c.ad124"]]},{"id":"cff3e7f9.f21c68","type":"delay","z":"d1b293e8.301ea","name":"","pauseType":"delay","timeout":"10","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":380,"y":180,"wires":[["9f7c6fd6.27108"]]}]